@include govuk-exports("app-pane") {
  $toc-width: 260px;
  $toc-width-tablet: 210px;

  .app-pane__body {
    @include govuk-media-query($from: tablet) {
      position: relative;
      @include govuk-clearfix;
      .app-pane__content {
        overflow-x: scroll;
        -webkit-overflow-scrolling: touch;
        -ms-overflow-style: none;
      }
    }
  }

  .app-pane__subnav {
    @include govuk-media-query($from: tablet) {
      width: $toc-width-tablet;
      float: left;
    }
    @include govuk-media-query($from: desktop) {
      width: $toc-width;
    }
  }

  .app-pane__content {
    margin-left: auto;
  }

  .no-flexbox {
    .app-pane {
      height: auto;
      overflow: visible;
      @include govuk-clearfix;
    }

    .app-pane__body {
      display: block;
    }

    .app-pane__subnav {
      width: $toc-width;
      float: left;
      overflow-x: hidden;
      border-right: none;
    }

    .app-pane__content {
      overflow-x: hidden;
      margin-left: -1px;
    }
  }
}
